{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}
{% block body %}
    {% for film in films %}
        <body style="background: dimgrey">
            <div class="card" style="border-top-left-radius: 20%;border-bottom-right-radius: 20%;border-top-right-radius: 5%;border-bottom-left-radius: 5%; display: inline-flex; min-width: 400px; min-height: 400px; max-width: 400px;  margin-left: 60px; margin-top: 40px; padding:20px; text-align: center; box-shadow: 10px 5px 5px black;">
                <div class="card-block" style="font-family: 'Bodoni Moda', monospace;">
                    <a style="text-decoration: none; color: black" class="card-title" href="{{ path('film_description',{'nom': film.idFilm.Nom}) }}">
                        {{ film.idFilm.Nom }}
                    </a>
                    <p>Date de la séance:</p><p> {{ film.heure|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY à HH:mm:ss")}}</p>
                    <p>Places restantes: {{ film.PlacesRestantes }}</p>
                    <p>Places reservés: {{ film.PlacesReserves }}</p>
                    <form id="{{ film.id }}" name="reservation" method="post">
                        <div>
                            <label for="reservation_NbrPlaces{{ film.id }}" class="required">Nombres de place(s)</label>
                            <input type="number" max="{{ film.PlacesRestantes}}" min="0" id="reservation_NbrPlaces{{ film.id }}" name="reservation[NbrPlaces]" required="required" dir="ltr">
                        </div>
                        <div style="display: none">
                            <label for="reservation_idFilm{{ film.id }}" class="required">Seance </label>
                            <select  id="reservation_idFilm{{ film.id }}" name="reservation[idFilm]">
                                <option value="{{ film.id }}">{{ film.id }}</option>
                            </select>
                        </div>
                        {% if film.PlacesRestantes == 0 %}
                        <button type="submit" class="btn btn-primary" disabled>Reserver</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary">Reserver</button>
                        {% endif%}
{#                        <input type="hidden" id="reservation__token" name="reservation[_token]" value="CQVVckyCV1TD4JmW6Sg8Qnkct4Hep-0CM7keq2zUDt4">#}
                    </form>
                </div>
            </div>
        </body>
    {% endfor %}
{% endblock %}
