{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    {% for description in descriptions %}
        {{ description.Nom }}
        <p>{{ description.Description }}</p>
        <p>{{ description.DateSortie|date("m/d/Y", "Europe/Paris") }}</p>
        <img  src="{{ asset('/images/' ~ description.images.nom)}}">
        <video width="800" height="600" autoplay controls  preload="auto">
            <source src="{{ asset('/videos/' ~ description.videos.nom) }}" type="video/mp4">
        </video>
    {% endfor %}
{% endblock %}
