{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    {% for film in films %}
            <div class="card" style="display: inline-flex; min-width: 400px; min-height: 400px; max-width: 400px;  margin-left: 60px; margin-top: 40px; padding:20px; text-align: center">
                <img class="card-img-top" src="{% if film.idFilm.image is empty %} https://via.placeholder.com/300 {% else %} {{film.idFilm.image }}{% endif %}" />
                <div class="card-block">
                    <a style="text-decoration: none; color: black" class="card-title" href="{{ path('film_description',{'nom': film.idFilm.Nom}) }}">
                        {{ film.idFilm.Nom }}
                    </a>
                    <p>Numero de salle: {{ film.idSalle.Numero }}</p>
                    <p>Heure de la séance: {{ film.heure|date("m/d/Y H:i:s", "Europe/Paris") }}</p>
                    <p>Places restantes: {{ film.PlacesRestantes }}</p>
                    <p>Places Réservés: {{ film.PlacesReserves }}</p>
                    <p>
                        {% if app.user %}
                            <form>
                                <select id="Select">
                                    {% set k = film.PlacesRestantes %}
                                    {% for i in range(1,k) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                                <p><a class="btn btn-primary" href="{{ path('seance_reserv',{'idSeance': film.id}) }}">Reserver</a></p>
                            </form>
                        {% endif %}
                    </p>
                </div>
            </div>
    {% endfor %}
{% endblock %}
